form .feedback {
  display: block;
  margin-bottom: 1.6rem;
  width: 100%;
  color: red;
  font-size: 1.2rem;
  text-align: center;
  height: 1.2rem; }

form input {
  font-size: 1.2rem;
  padding: 1rem 1rem;
  width: 100%;
  border: none;
  margin-bottom: 1.6rem; }
  form input.half {
    width: calc(50% - 0.8rem); }
    form input.half.left {
      margin-right: 1.6rem; }
  form input[type=submit] {
    border: none;
    padding: 1.2rem;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #f5b45d; }

form select {
  font-size: 1.2rem;
  padding: 1rem 1rem;
  width: 100%;
  border: none;
  margin-bottom: 1.6rem; }
  form select.half {
    width: calc(50% - 0.8rem); }
    form select.half.left {
      margin-right: 1.6rem; }
  form select[type=submit] {
    border: none;
    padding: 1.2rem;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #f5b45d; }

form ul {
  font-size: 1.2rem;
  padding: 1rem 30rem;
  width: 100%;
  border: none;
  margin-bottom: 1.6rem;
  height: 150px;
  overflow: auto;
  background-color: #28406c; }
  form ul li {
    font-size: 1.2rem;
    padding: 1rem 1rem;
    width: 100%;
    border: none;
    margin-bottom: 1.6rem;
    border-top: 1px solid #196090;
    display: block; }
    form ul li a {
      text-decoration: none;
      color: white;
      display: block; }
