@import ../partials/colors
  
form

  .feedback
    display: block
    margin-bottom: 1.6rem
    width: 100%
    color: red
    font-size: 1.2rem
    text-align: center
    height: 1.2rem

  input
    font-size: 1.2rem
    padding: 1rem 1rem
    width: 100%
    border: none
    margin-bottom: 1.6rem

    &.half
      width: calc(50% - 0.8rem)
      &.left
        margin-right: 1.6rem

    &[type=submit]
      border: none
      padding: 1.2rem
      text-transform: uppercase
      color: $white
      background-color: $orange
